
body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    justify-content: space-between;
}

button {
    margin: 10px;
}

a {
    margin: 20px 5px
}

.header {
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;

}

.headerlinks {
    flex-shrink: 1;
}

.headerlinks a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.signup{
    display: flex;
    flex: 1;
    padding: 0 20%;
    justify-content: center;
    align-items: center;

    background-color: #1f2937;
}

.signupcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 20px;
}

.signupcontent p{
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
    color: white;
}

.signupimage {
    min-width: 50%;
    min-height: 200px;
    align-self: center;
    justify-self: center;
    flex: 1;
    background-color: grey;
}

.signupcontent button {
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 25px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 20%;
}

.details h1 {
    font-size: 24px;
    font-weight: bolder;
}

.imagetextgroup img {
    min-width: 150px;
    min-height: 150px;
    border: 2px solid lightblue;
}

.imageswithtext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagetextgroup {
    margin: 20px;
}

.imageswithtext p {
    display: flex;
}

.quote{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 36px;
    padding: 0 20%;

    background-color: #E5E7EB;
}

.quote p {
    font-weight: 900;
    align-self: flex-end;
}

.finalcontent{
    flex: 1;
    margin: 0 20%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.finalcontent button {
    color: white;
    background-color: blue;
    border-radius: 8px;
    outline: solid white 2px;
}

.container3{
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}
.g1{
    display: flex;
    flex-direction: column;
    color: white;
}

.g1 p {
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100px;
    color: white;
    background-color: #1f2937;
}